<?xml version="1.0"?>

<model>
  <name>helios</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Parth Desai</name>
    <email>parthraj1001@gmail.com</email>
  </author>

  <description>
    HELIOS UAV with sensor configuration: 3D medium range lidar, IMU, camera, magnetometer, thermal camera.
  </description>
</model>
